.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
}

.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}
.AboutMe {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.Content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 1rem 0;
}

.Footer .Email {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.Headline {
    color: #19b5fe;
}

.Highlight {
    color: #007bff;
}

.Link {
    color: #007bff;
    text-decoration: none;
    margin: 0 0.25rem;
}
.LinkSolo {
    display: inline-flex;
    color: #007bff;
    text-decoration: none;
    margin-top: 0.15rem;
}

.Link:hover,
.LinkSolo:hover {
    color: #19b5fe;
}

.Social {
    display: inline-block;
    text-indent: -9999px;
    opacity: 1;
    transition: opacity 0.5s;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Social:hover,
.Social:active {
    opacity: 0.6;
}

.GitHub {
    composes: Social;
    background-image: url('../../svgs/github.svg');
    background-repeat: no-repeat;
}

.LinkedIn {
    composes: Social;
    background-image: url('../../svgs/linkedin.svg');
    background-repeat: no-repeat;
}

.Twitter {
    composes: Social;
    background-image: url('../../svgs/twitter.svg');
    background-repeat: no-repeat;
}

.Email {
    font-size: 1.5rem;
}

.Skill {
    min-width: 8rem;
    display: inline-flex;
    font-size: 1.15rem;
    color: #19b5fe;
}

.About h1,
.About h2 {
    font-weight: 500;
}

.About h1 {
    align-self: center;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.About h2 {
    align-self: center;
    font-size: 1.6rem;
}

.Footer h2 {
    align-self: center;
    margin: 0;
}

.About p {
    max-width: 90%;
    font-size: .9rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.About p.Headline {
    font-size: 1.25rem;
}

@media (min-width: 1000px) {
    .About {
        margin-top: 10rem;
    }

    .AboutMe {
        width: 50%;
    }

    .Wrapper {
        width: 75%;
        padding: 4.5rem 5rem 5rem 5rem;
    }
    .Info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 3rem;
    }
    .Content {
        max-width: 45%;
        width: 45%;
        align-items: flex-start;
    }
    
    .Footer {
        padding: 3rem 0;
    }

    .Skill {
        font-size: 1rem;
    }

    .About h1 {
        align-self: flex-start;
        font-size: 2.25rem;
    }
    .About h2 {
        align-self: flex-start;
        font-size: 2rem;
    }

    .Footer h2 {
        align-self: center;
        margin: 0;
    }

    .About p {
        max-width: 100%;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .About p.Headline {
        font-size: 1rem;
    }
}
