.Contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
}

.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 0.5rem;
    padding: 2rem 0;
    margin-bottom: 3rem;
}
.Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Headline {
    color: #19b5fe;
}

.Social {
    display: inline-block;
    text-indent: -9999px;
    opacity: 1;
    transition: opacity 0.5s;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Social:hover,
.Social:active {
    opacity: 0.6;
}

.GitHub {
    composes: Social;
    background-image: url('../../svgs/github.svg');
    background-repeat: no-repeat;
}

.LinkedIn {
    composes: Social;
    background-image: url('../../svgs/linkedin.svg');
    background-repeat: no-repeat;
}

.Twitter {
    composes: Social;
    background-image: url('../../svgs/twitter.svg');
    background-repeat: no-repeat;
}

.Email {
    font-size: 1.5rem;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 1000px) {
    .Contact {
        margin-top: 10rem;
    }

    .Wrapper {
        width: 75%;
        padding: 4.5rem 5rem 5rem 5rem;
    }
    .Info {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 1rem;
    }
}
