.Nav {
    background: black;
}
.List {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    padding: 8px 0;
    margin: 0;
}
.Item {
    list-style: none;
    padding: 8px 24px;
}
.Link {
    color: #19b5fe;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.Name {
    position: absolute;
    left: 2%;
    top: 25%;
    color: #19b5fe;
    font-size: 1.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.active {
    color: white;
}